body {
    background:#673A49;
    font-family: 'Inter', sans-serif;
}

#trans3DText {
  position:absolute;
	top:70px;
	right:240px;
	width:300px;
}

p {
  color: #000;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 60px;
}